In [18]:
#Importing required libraries
import csv
import pandas as pd

<h3>Problem 1</h3>

In [19]:
def read_csv(file_path):
    phone_book_records = []
    with open(file_path, 'r', newline='', encoding='utf-8') as csvfile:
        csv_reader = csv.DictReader(csvfile)
        for row in csv_reader:
            phone_book_records.append({
                'Name': row['Name'],
                'Email': row['Email'],
                'Phone 1': row['Phone 1'],
                'Phone 2': row['Phone 2']
            })
    df = pd.DataFrame(phone_book_records)
    return df

# Example usage:
file_path = 'Details.csv'
phone_book_data_df = read_csv(file_path)
print(phone_book_data_df)

             Name                    Email     Phone 1     Phone 2
0            John             John@abc.com  9876543210  8765432109
1    Priya Sharma      priyasharma@uio.com  8765432101  7654321098
2             Doe              Doe@xyz.com  7654321098  6543210987
3           Sneha            sneha@def.com  6543210987  5432109876
4          Vikram         viky@example.com  5432109876  4321098765
5       Neha Jain         nehajain@klm.com  4321098765  3210987654
6     Rahul Gupta   rahulgupta@example.com  3210987654  2109876543
7           Pooja            pooja@abc.com  2109876543  1098765432
8          Vishwa           Vishwa@ijk.com  1098765432  9876543210
9          Anjali           anjali@xyz.com  9876543210  8765432109
10    Suman Verma            suman@ghi.com  8765432101  7654321098
11    Arjit Singh        singh@example.com  7654321098  6543210987
12   Shreya Patel  shreyapatel@example.com  6543210987  5432109876
13         Deepak           deepak@123.com  5432109876  4321098765
14  Kavita Selvan           kavita@plp.com  4321098765  3210987654
15    Arjun Mehta   arjunmehta@example.com  3210987654  2109876543
16         Ananya           ananya@xyz.com  2109876543  1098765432
17          Yadav            yadav@abc.com  1098765432  9876543210
18        Monisha          monisha@jkl.com  9876543210  8765432109
19          Vivek           vivek@mail.com  8765432101  7654321098

<h3>Problem 2</h3>

In [16]:
## 2.1
# Function to implement SELECT operation
def select_all_records(df, limit=10):
    return df.head(limit)

# SQL-like statement for SELECT
select_statement = "SELECT * FROM phone_records;"

# Parse and execute the SQL-like statement
if select_statement.startswith("SELECT"):
    result = select_all_records(phone_book_data_df)
    print(result.to_markdown)
else:
    print("Invalid SQL-like statement.")

<bound method DataFrame.to_markdown of            Name                   Email     Phone 1     Phone 2
0          John            John@abc.com  9876543210  8765432109
1  Priya Sharma     priyasharma@uio.com  8765432101  7654321098
2           Doe             Doe@xyz.com  7654321098  6543210987
3         Sneha           sneha@def.com  6543210987  5432109876
4        Vikram        viky@example.com  5432109876  4321098765
5     Neha Jain        nehajain@klm.com  4321098765  3210987654
6   Rahul Gupta  rahulgupta@example.com  3210987654  2109876543
7         Pooja           pooja@abc.com  2109876543  1098765432
8        Vishwa          Vishwa@ijk.com  1098765432  9876543210
9        Anjali          anjali@xyz.com  9876543210  8765432109>

In [14]:
## 2.2
# Function to implement SELECT operation with filtering
def select_records_with_filter(df, condition_column, condition_value):
    return df[df[condition_column].str.lower().str.contains(condition_value.lower())]

# SQL-like statement for SELECT with filter
select_statement = "SELECT * FROM phone_records WHERE name='doe';"

# Parse and execute the SQL-like statement
if select_statement.startswith("SELECT"):
    condition_column = 'Name'
    condition_value = 'doe'
    result = select_records_with_filter(phone_book_data_df, condition_column, condition_value)
    print(result)
else:
    print("Invalid SQL-like statement.")

  Name        Email     Phone 1     Phone 2
2  Doe  Doe@xyz.com  7654321098  6543210987

In [17]:
## 2.3
# Function to implement INSERT operation
def insert_record(df, values):
    new_record = dict(zip(df.columns, values))
    df = df.append(new_record, ignore_index=True)
    return df

# SQL-like statement for INSERT
insert_statement = "INSERT INTO phone_records(name, email, Phone 1, Phone 2) VALUES('Test', 'test@test.xtyz', '1234456', '1233233');"

# Parse and execute the SQL-like statement
if insert_statement.startswith("INSERT"):
    values = ['Test', 'test@test.xtyz', '1234456', '1233233']
    phone_book_df = insert_record(phone_book_data_df, values)
    print("Insert successful.")
    print("Updated phone book records:")
    print(phone_book_df)
else:
    print("Invalid SQL-like statement.")

Insert successful.
Updated phone book records:
             Name                    Email     Phone 1     Phone 2
0            John             John@abc.com  9876543210  8765432109
1    Priya Sharma      priyasharma@uio.com  8765432101  7654321098
2             Doe              Doe@xyz.com  7654321098  6543210987
3           Sneha            sneha@def.com  6543210987  5432109876
4          Vikram         viky@example.com  5432109876  4321098765
5       Neha Jain         nehajain@klm.com  4321098765  3210987654
6     Rahul Gupta   rahulgupta@example.com  3210987654  2109876543
7           Pooja            pooja@abc.com  2109876543  1098765432
8          Vishwa           Vishwa@ijk.com  1098765432  9876543210
9          Anjali           anjali@xyz.com  9876543210  8765432109
10    Suman Verma            suman@ghi.com  8765432101  7654321098
11    Arjit Singh        singh@example.com  7654321098  6543210987
12   Shreya Patel  shreyapatel@example.com  6543210987  5432109876
13         Deepak           deepak@123.com  5432109876  4321098765
14  Kavita Selvan           kavita@plp.com  4321098765  3210987654
15    Arjun Mehta   arjunmehta@example.com  3210987654  2109876543
16         Ananya           ananya@xyz.com  2109876543  1098765432
17          Yadav            yadav@abc.com  1098765432  9876543210
18        Monisha          monisha@jkl.com  9876543210  8765432109
19          Vivek           vivek@mail.com  8765432101  7654321098
20           Test           test@test.xtyz     1234456     1233233

C:\Users\HP\AppData\Local\Temp\ipykernel_19948\2052055026.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_record, ignore_index=True)

In [20]:
## 2.4
# Function to implement DELETE operation
def delete_records_with_condition(df, condition_column, condition_value):
    df = df[~df[condition_column].str.lower().str.contains(condition_value.lower())]
    return df

# SQL-like statement for DELETE
delete_statement = "DELETE FROM phone_records WHERE name='John';"

# Parse and execute the SQL-like statement
if delete_statement.startswith("DELETE"):
    condition_column = 'Name'
    condition_value = 'John'
    phone_book_df = delete_records_with_condition(phone_book_df, condition_column, condition_value)
    print("Delete successful.")
    print("Updated phone book records:")
    print(phone_book_df)
else:
    print("Invalid SQL-like statement.")

Delete successful.
Updated phone book records:
             Name                    Email     Phone 1     Phone 2
1    Priya Sharma      priyasharma@uio.com  8765432101  7654321098
2             Doe              Doe@xyz.com  7654321098  6543210987
3           Sneha            sneha@def.com  6543210987  5432109876
4          Vikram         viky@example.com  5432109876  4321098765
5       Neha Jain         nehajain@klm.com  4321098765  3210987654
6     Rahul Gupta   rahulgupta@example.com  3210987654  2109876543
7           Pooja            pooja@abc.com  2109876543  1098765432
8          Vishwa           Vishwa@ijk.com  1098765432  9876543210
9          Anjali           anjali@xyz.com  9876543210  8765432109
10    Suman Verma            suman@ghi.com  8765432101  7654321098
11    Arjit Singh        singh@example.com  7654321098  6543210987
12   Shreya Patel  shreyapatel@example.com  6543210987  5432109876
13         Deepak           deepak@123.com  5432109876  4321098765
14  Kavita Selvan           kavita@plp.com  4321098765  3210987654
15    Arjun Mehta   arjunmehta@example.com  3210987654  2109876543
16         Ananya           ananya@xyz.com  2109876543  1098765432
17          Yadav            yadav@abc.com  1098765432  9876543210
18        Monisha          monisha@jkl.com  9876543210  8765432109
19          Vivek           vivek@mail.com  8765432101  7654321098
20           Test           test@test.xtyz     1234456     1233233